<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login.component.css">
    <title>Document</title>
</head>
<body>
    <div class="psesion">
    <p>Iniciar Sesion</p>
</div><div class="btnRegister">
    <button (click)="navegar()">Registrarse</button>
</div>
    <div class="login">
        <form class="m-2">
            <label for="">Name</label><br>
            <input placeholder="ingresa tu nombre"><br><br>
            <label for="">Password</label><br>
            <input placeholder="ingresa tu password "><br><br>
            <button>Ingresar</button>
        </form>
    
    </div>
</body>
</html>
