<div class="login">
    <p>Registrate</p>
    <form>
        <label for="">Tipo Documento</label><br>
        <select name="" id="">
            <option value="">Targeta de identidad</option>
            <option value="">Cedula ciudadana</option>
            <option value="">Cedula extranjera</option>
            <option value="">Pasaporte</option>
        </select>
        <br><br>
        <label for="">N° Documento</label><br>
        <input placeholder="ingresa tu numero de documento"><br><br>
        <label for="">Nombre</label><br>
        <input placeholder="ingresa tu nombre"><br><br>
        <label for="">Apellido</label><br>
        <input placeholder="ingresa tu apellido"><br><br>
        <label for="">Correo</label><br>
        <input placeholder="ingresa tu Correo"><br><br>
        <label for="">Telefono</label><br>
        <input placeholder="ingresa tu telefono"><br><br>
        <label for="">Direccion</label><br>
        <input placeholder="ingresa tu direccion"><br><br>
        <label for="">Password</label><br>
        <input placeholder="ingresa tu nombre"><br><br>
        <button>Registrar</button>
    </form>

</div>